*{
  box-sizing: border-box;
}

body {
  background-image: url("images/lluvia.jpg");
  text-align: center;
  color: #ffff;
  max-width: auto;
  background-size: cover;
}
 button{
  background: #95cdff;
  width: 120px;
  height: 40px;
  color:#ffff;

 }
